<launch>

  <node pkg="imu_visualization" type="display_3D_visualization.py" name="um7_3D_visualization_node" output="screen">
	<param name="imu_topic" value="/sensor/imu/um7/data" />
	<param name="imu_name" value="CHRobotics_um7" />
	<param name="mag_topic" value="/sensor/imu/um7/magfield_msg" />
  </node>

</launch>
